html,
body {
<<<<<<< HEAD
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
=======
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
>>>>>>> 6ff69093a62da3fb26d53868d25f9d6ba600b1cc
